/*Applies style to separate the simple interest calculator app logic part from the entire page*/
body {background-color:black;font-family:arial;color:white}
/*Applies style to the web-app heading "Simple Interest Calculator"*/
h1{color:grey;font-family:verdana}
/*Applies style to the simple interest calculator app logic part*/
.maindiv {
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    margin: auto;
}
/*Centrally aligning the simple interest variables*/
.subdiv {
width:60%;
margin: auto;
}